
.notion-editor {
  background-color: #f8f9fa;
  padding: 20px;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

/* Paragraph styling */
.tiptap .notion-paragraph {
  margin-bottom: 16px;
  font-size: 16px;
  color: #333;
}

.tiptap {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 10px;
  min-height: 150px; /* Establece una altura mínima */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: 'Arial', sans-serif; /* Fuente similar a la de los inputs */
  font-size: 16px;
  color: #333333;
  overflow-y: auto;
  transition: border-color 0.3s ease;
}

.tiptap:focus {
  border-color: #0056b3;
  box-shadow: 0 2px 5px rgba(0, 86, 179, 0.3);
}

.tiptap ::selection {
  background-color: #b3d4fc;
  color: #000;
}

/* Headings */
.tiptap h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 24px;
  color: #202124;
}

.tiptap h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 16px;
  color: #202124;
}

.tiptap h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 12px;
  color: #202124;
}

/* Blockquote */
.tiptap blockquote {
  margin-left: 20px;
  border-left: 4px solid #ddd;
  padding-left: 16px;
  color: #555;
}

/* Code block */
.tiptap code {
  background-color: #f1f1f1;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: monospace;
}
.tiptap pre {
  background-color: #f1f1f1; 
  padding: 16px; 
  border-radius: 8px;
  font-family: monospace;
  overflow-x: auto; 
  margin-bottom: 16px; 
  white-space: pre-wrap;
}

/* Tiptap.css o cualquier archivo CSS */
.tiptap table {
  width: 100%;
  border-collapse: collapse;
}

.tiptap table, th, td {
  border: 1px solid black;
}

.tiptap th, td {
  padding: 8px;
  text-align: left;
}
/* Bullet List (unordered list) */
.tiptap ul {
  list-style-type: disc; 
  padding-left: 20px; 
  margin-bottom: 16px; 
}

.tiptap ul li {
  margin-bottom: 8px; 
  font-size: 16px;
  color: #333;
}

/* Ordered List (numbered list) */
.tiptap ol {
  padding-left: 20px; 
  margin-bottom: 16px; 
  list-style: decimal;
  list-style-position: outside;
}

.tiptap ol li {
  margin-bottom: 8px; 
  font-size: 16px;
  color: #333;
}


.tiptap a{
  color: #007bff;

}
.tiptap a:hover{
  color: blue;

}