.footer {
  color: white; 
  text-align: center; 
  padding: 20px; 
  position: relative; 
  bottom: 0; 
}
.footer hr{
  width: 60%;
}
.footer-content {
  margin: 0 auto; 
}
.footer-marked{
  color: rgb(55, 202, 25);
}